@import "tailwindcss";

@theme {
  --color-bg: #0a0a0a;
  --color-card: #141414;
  --color-card-border: #262626;
  --color-accent: #3ecf5b;
  --color-muted: #9ca3af;
}

body {
  background-color: var(--color-bg);
  color: white;
  font-family: "Inter", sans-serif;
}

@layer components {
  .card {
    @apply bg-card border border-card-border rounded-2xl p-6;
  }
}